# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yaml
docker-compose.prod.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.venv/
venv/

# Data
data/
staticfiles/

# General
README.md

# Python
.mypy_cache
requirements.in

# Dotfiles
.env
.env.example
